%tr
	%td
		%span=ct.name
	%td
		%span
			=link_to "Editar", "#", class: "editCouponType", data: {id: ct.id}
	%td
		%span
			=link_to "Eliminar", destroy_coupon_type_path(ct.id), remote: :true, class: "destroyCouponType"